.holder{
	display:flex;
	justify-content: space-between;
	flex-wrap:wrap;
	
	
}
.box{

	
	min-width:200px;
	height: 200px;
	
	
}
.box1{
	background: green;
}
.box2{
	background: red;
}
.box3{
	background: blue;
}